{% extends "base.html" %}
{% block content %}
<!-- Page Content -->
<div class="container"><br><br><br><hr><br>
  <h1 class="section-heading">Your Account Activation has been sent to You!</h1><br>
    <h1 class="lead"><b>For Chair account Activation, please wait for the activation link from site Administrator!</b></h1><br><br><br><br><br><br><br><br><br><br>
  <h1 class="lead"><b>Thank you for signing up in AID NAVIGATION !</b></h1><br><br><br><br><br><br><br><br><br><br>
  <hr>
  <p class="copyright text-muted small">Copyright &copy; Monash University 2017. All Rights Reserved</p>
  </div>
  {% endblock content%}