{% extends 'base.html' %}
{% load staticfiles %}
{% load bootstrap %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link href="{% static "css/bootstrap.css" %}" rel="stylesheet" type="text/css"/>
<script src="{% static "js/bootstrap.js" %}"> </script>
</script>

<header class="masthead" style="background-image: url({% static 'img/intro-bg.jpg' %} ">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-10 mx-auto">
                <div class="page-heading">
                    <div class="post-title" align="left">
                        <h1>Edit Quest Information</h1><br><br>
                    <div class="col-md-10" class="subheading" align="left">
                        <font size="4" face="Avenir" color="#fffff" align="left">
                            <form method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form | bootstrap }}
                                <button class="btn btn-secondary" type="submit">Next &rarr;</button>
                                <!--<button type="upload">upload</button> -->
                            </form>
                        </font>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</head>
{% endblock content%}


